/* Carousel */

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }
    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active, .carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .item.left.active {
    transform: translateX(-33%);
}

.carousel-inner .item.right.active {
    transform: translateX(33%);
}

.carousel-inner .item.next {
    transform: translateX(33%)
}

.carousel-inner .item.prev {
    transform: translateX(-33%)
}

.carousel-inner .item.right, .carousel-inner .item.left {
    transform: translateX(0);
}

.carousel-item .card img {
    height: 300px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    
}

.carousel-item h6 {
        /* hide text if it more than N lines  */
        font-weight: bold;
        overflow: hidden;
        position: relative; 
        line-height: 1.5em;
        max-height: 1.5em; 
        text-align: center;  
        margin-right: -1em;
        margin-top: 10px;
        padding-right: 2.5em;
        cursor: pointer;
        word-break:break-all; /* ex:    not bad mea
                                        ning bad    */
      }

      .carousel-item h6:before {
        content: '...';
        position: absolute;
        right: 1.5rem;
        bottom: 0;
      }
      /* hide ... if we have text, which is less than or equal to max lines */
      .carousel-item h6:after {
        content: '';
        position: absolute;
        right: 0;
        width: 2.5em;
        height: 1em;
        margin-top: 0.2em;
        background: white;
      }
      .carousel-item h6:hover{
      }

