body {
  background: #fff;
}

/* Footer main */
.footer{	
	padding: 20px 0;	
	background: #343a40;
}


/* Nav - Menu */
.menu-area{
	background: #343a40;
}

.dropdown-menu{
	padding:0;
	margin:0;
	border:0 solid transition!important;
	border:0 solid rgba(0,0,0,.15);
	border-radius:0;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
}

.mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a, .navbar-expand-lg .navbar-nav .nav-link{
	color: #fff;
	font-size: 18px;
	padding: 10px 15px;
	display: block !important;
}
	
.mainmenu .active a, .mainmenu .active a:focus, .mainmenu .active a:hover, .mainmenu li a:hover, .mainmenu li a:focus,
.navbar-default .navbar-nav > .show > a, .navbar-default .navbar-nav > .show > a:focus, .navbar-default .navbar-nav > .show > a:hover{
	color: yellow;
	background: #1565C0;
	background: utline: 0;
}
/*==========Sub Menu=v==========*/
.mainmenu .collapse ul > li:hover > a{
	background: #1565C0;
	text-decoration: none;
}

.mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{
	background: #1E88E5;
	text-decoration: none;
}
.mainmenu .collapse ul ul ul > li:hover > a{
	background: #64B5F6;
}

.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu{
	background: #1565C0;
}

.mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu{
	background: #1E88E5;
}

/******************************Drop-down menu work on hover**********************************/
.mainmenu{
	background: none;
	border: 0 solid;
	margin: 5px 10px;
	padding: 0;
	min-height: 20px;
	width: 100%;
}

@media only screen and (min-width: 767px) {
	.mainmenu .collapse ul li:hover > ul{
		display:block;
	}
	
	.mainmenu .collapse ul ul{
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 250px;
		display: none;
	}
	/*******/
	.mainmenu .collapse ul ul li{
		position:relative;
	}
	
	.mainmenu .collapse ul ul li:hover > ul{
		display: block;
	}
	
	.mainmenu .collapse ul ul ul{
		position: absolute;
		top: 0;
		left: 100%;
		min-width: 250px;
		display: none;
	}
	/*******/
	.mainmenu .collapse ul ul ul li{
		position: relative;
	}
	
	.mainmenu .collapse ul ul ul li:hover ul{
		display: block;
	}
}

@media only screen and (max-width: 767px) {
	.navbar-nav .show .dropdown-menu .dropdown-menu > li > a{
		padding: 5px;
	}
	
	.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{
		padding: 5px;
	}
}




/* sign in FORM */
#logreg-forms{
    width:412px;
    margin:10vh auto;
    background-color:#f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login{
    width:390px;
    margin:0 auto;
    margin-bottom: 14px;
}
#logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    width:190px;
    font-size: 0.9rem;
}

#logreg-forms a{
    display: block;
    padding-top:10px;
    color:lightseagreen;
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
    width:210px !important;
    margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px){
    #logreg-forms{
        width:300px;
    }
    
    #logreg-forms  .social-login{
        width:200px;
        margin:0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn{
        font-size: 1.3rem;
        font-weight: 100;
        color:white;
        width:200px;
        height: 56px;
        
    }
    #logreg-forms .social-btn:nth-child(1){
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span{
        display: none;
    }
    #logreg-forms  .facebook-btn:after{
        content:'Facebook';
    }
  
    #logreg-forms  .google-btn:after{
        content:'Google+';
    }
    
}