div.wrapper label {
    float: left;
    padding-left: 0px;
    text-align: left;
}

div.wrapper span {
    float: right;
    width: 75%;
    text-align: left;
}

div.clearboth {
    clear: both
}

img.background {
    filter: brightness(40%);
}

.centered {
    position: absolute !important;
    top: 10%;
    left: 0;
    width: 100%;
    text-align: center !important;
}

textarea {
    resize: none;
}

.gallery img {
    width: 70px;
    height: 70px;
    background-position: 70% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media all and (max-width: 1000px) {
    .main {
        width: 95% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}