{{#section 'css'}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all"
    rel="stylesheet" type="text/css" />
{{/section}}

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>
<script>
    $('#fuMain').fileinput({
        theme: 'fa',
        showUpload: false,
        dropZoneEnabled: false,
        allowedFileExtensions: ['png', 'jpg', 'gif'],
    });
</script>
{{/section}}

<div class="">
    <div class="main my-4 mx-md-auto shadow-lg p-4" style="background-color: white; width: 90%; height: 90%;" ;>
        <h3 class="text-center text-primary font-weight-bold">
            Thông tin sản phẩm đấu giá
        </h3>
        {{#if errMsg}}
        <div role="alert" class="alert alert-warning alert-dismissible fade show">
            <button class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{#each errMsg}}
            {{this}}
            <br>
            {{/each}}
        </div>
        {{/if}}

        <div class="" style="color:tomato;">Điền đầy dủ các thông tin dưới đây</div>

        <form action="/postproduct" method="POST" name="product_detail" class="p-3" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="TenSanPham" class="col-sm-4 col-form-label">Tên sản phẩm (*): </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="TenSanPham" id="TenSanPham" placeholder="Tên sản phẩm"
                        required>
                </div>
            </div>
            <div class="form-group row">
                <label for="IDLoai" class="col-sm-4 col-form-label">Loại sản phẩm (*): </label>
                <div class="col-sm-8" style="line-height: 250%;">
                    <select id="IDLoai" name="IDLoai" style="width:100%" required>
                        <option value="-1">Chọn loại sản phẩm</option>
                        {{#each catList}}
                        <option value="{{this.ID}}">{{this.TenLoai}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="Gia" class="col-sm-4 col-form-label">Giá khởi điểm (VNĐ) (*): </label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" name="Gia" id="Gia" placeholder="Giá khởi điểm" min="1000"
                        step="1000" required />
                </div>
            </div>
            <div class="form-group row">
                <label for="BuocGia" class="col-sm-4 col-form-label">Bước giá (VNĐ) (*): </label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" name="BuocGia" id="BuocGia" placeholder="Bước giá"
                        requrired min="1000" step="1000">
                </div>
            </div>
            <div class="form-group row">
                <label for="GiaMuaNgay" class="col-sm-4 col-form-label">Giá mua ngay (VNĐ): </label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="GiaMuaNgay" name="GiaMuaNgay" placeholder="Tùy chọn"
                        min="0" step="1000" value="0">
                </div>
            </div>
            <div class="form-group row">
                <label for="songay" class="col-sm-4 col-form-label">Số ngày đăng bán (*): </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="songay" name="songay" value="7" min="1" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="MoTaDai" class="col-sm-4 col-form-label">Mô tả sản phẩm (*): </label>
                <div class="col-sm-8">
                    <textarea name="MoTaDai" id="txtFullDes" style="width: 100%;" rows="6"></textarea>
                </div>
            </div>
            <div class="form-group wrapper">
                <label class="col-sm-4" for="TuDongGiaHan">Tự động gia hạn: </label>
                <span class="col-sm-8"><input name="TuDongGiaHan" id="TuDongGiaHan" type="checkbox"
                        checked="checked" /></span>
                <div class="clearboth"></div>
            </div>
            <div class="form-group wrapper">
                <label class="col-sm-4" for="LuonDuocDauGia">Luôn được đấu giá: </label>
                <span class="col-sm-8"><input name="LuonDuocDauGia" id="LuonDuocDauGia" type="checkbox"
                        checked="checked" /></span>
                <div class="clearboth"></div>
            </div>
            <div>Chọn hình ảnh cho sản phẩm(*):</div>
            <div class="card-body">
                <div class="form-group">
                    <div class="file-loading">
                        <input id="fuMain" name="fuMain" type="file" multiple required="true"></div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="m-2 btn btn-danger">Xác nhận</button>
            </div>
        </form>

    </div>
</div>

<script
    src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=x2y7fn9k7dxnxh9q4xbzm4v0afd7jyn3uv8fe3ug89t1i4lu"></script>
<script>
    tinymce.init({
        selector: '#txtFullDes',
        height: 300,
        plugins: 'paste image link autolink lists table media',
        menubar: false,
        toolbar: [
            'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
            'forecolor backcolor table link image media',
        ],
    });
</script>