<div class="row" id="body-row">
    <!--sidebar-->
    <div class="sidebar-container">
        <div class="sidebar-logo">
            Danh mục
        </div>
        <ul class="sidebar-navigation">
            <li class="header">Hàng điện tử</li>
            <li>
                <a href="#">
                    <i class="fa fa-home" aria-hidden="true"></i> Laptop
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> Điện thoại
                </a>
            </li>
            <li class="header">Quần áo</li>
            <li>
                <a href="#">
                    <i class="fa fa-users" aria-hidden="true"></i> Quần
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-cog" aria-hidden="true"></i> Áo
                </a>
            </li>
            <li class="header">Thực phẩm</li>
        </ul>
    </div>
    <!--Content-->
    <div class="offset-left col-9 p-0">
        <!--Product-->
        <div class="container">
            <!-- Page Heading -->
            <h1 class="my-4">Laptop
            </h1>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Shop card -->
                    <div class="card h-100">
                        <div class="ribbon-wrapper">
                            <div class="ribbon">NEW</div>
                        </div>
                        <div class="img-wrap">
                            <button class="asText bookmark"><i class="fa fa-bookmark fa-lg"
                                    aria-hidden="true"></i></button>
                            <a href="ProductView.html"><img class="img-fluid mx-auto d-block"
                                    src="assets/images/S10_5.jpg" alt=""></a>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h4 class="card-title align-self-center ellipsis">
                                <a href="ProductView.html">Project One</a>
                            </h4>
                            <div class="d-flex justify-content-between">
                                <span>Mua ngay:</span>
                                <span>550$</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Giá hiện tại: </span>
                                <span class="font-weight-bold">100$</span>
                            </div>
                            <span class="d-flex justify-content-end">(masa23vn)</span>
                            <h3 class="mt-auto align-self-center">2d 12:37:25</h3>
                            <div class="d-flex justify-content-between small">
                                <span> 15 Lượt</span>
                                <span>01/01/1999</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="ribbon-wrapper">
                            <div class="ribbon">NEW</div>
                        </div>
                        <div class="img-wrap">
                            <button class="asText bookmark"><i class="fa fa-bookmark fa-lg"
                                    aria-hidden="true"></i></button>
                            <a href="ProductView.html"><img class="img-fluid mx-auto d-block"
                                    src="assets/images/DareUkeyboard.jpg" alt=""></a>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h4 class="card-title align-self-center ellipsis">
                                <a href="ProductView.html">Project One</a>
                            </h4>
                            <div class="d-flex justify-content-between">
                                <span>Mua ngay:</span>
                                <span>550$</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Giá hiện tại: </span>
                                <span class="font-weight-bold">100$</span>
                            </div>
                            <span class="d-flex justify-content-end">(masa23vn)</span>
                            <h3 class="mt-auto align-self-center">2d 12:37:25</h3>
                            <div class="d-flex justify-content-between small">
                                <span> 15 Lượt</span>
                                <span>01/01/1999</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="img-wrap">
                            <button class="asText bookmark"><i class="fa fa-bookmark fa-lg"
                                    aria-hidden="true"></i></button>
                            <a href="ProductView.html"><img class="img-fluid mx-auto d-block"
                                    src="assets/images/A8+_1.jpg" alt=""></a>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h4 class="card-title align-self-center ellipsis">
                                <a href="ProductView.html">Project One</a>
                            </h4>
                            <div class="d-flex justify-content-between">
                                <span>Mua ngay:</span>
                                <span>550$</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Giá hiện tại: </span>
                                <span class="font-weight-bold">100$</span>
                            </div>
                            <span class="d-flex justify-content-end">(masa23vn)</span>
                            <h3 class="mt-auto align-self-center">2d 12:37:25</h3>
                            <div class="d-flex justify-content-between small">
                                <span> 15 Lượt</span>
                                <span>01/01/1999</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="img-wrap">
                            <button class="asText bookmark"><i class="fa fa-bookmark fa-lg"
                                    aria-hidden="true"></i></button>
                            <a href="ProductView.html"><img class="img-fluid mx-auto d-block"
                                    src="assets/images/Gearfit2.jpg" alt=""></a>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h4 class="card-title align-self-center ellipsis">
                                <a href="ProductView.html">Project One</a>
                            </h4>
                            <div class="d-flex justify-content-between">
                                <span>Mua ngay:</span>
                                <span>550$</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Giá hiện tại: </span>
                                <span class="font-weight-bold">100$</span>
                            </div>
                            <span class="d-flex justify-content-end">(masa23vn)</span>
                            <h3 class="mt-auto align-self-center">2d 12:37:25</h3>
                            <div class="d-flex justify-content-between small">
                                <span> 15 Lượt</span>
                                <span>01/01/1999</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="img-wrap">
                            <button class="asText bookmark"><i class="fa fa-bookmark fa-lg"
                                    aria-hidden="true"></i></button>
                            <a href="ProductView.html"><img class="img-fluid mx-auto d-block"
                                    src="assets/images/Gearfit2.jpg" alt=""></a>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h4 class="card-title align-self-center ellipsis">
                                <a href="ProductView.html">Project One</a>
                            </h4>
                            <div class="d-flex justify-content-between">
                                <span>Mua ngay:</span>
                                <span>550$</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Giá hiện tại: </span>
                                <span class="font-weight-bold">100$</span>
                            </div>
                            <span class="d-flex justify-content-end">(masa23vn)</span>
                            <h3 class="mt-auto align-self-center">2d 12:37:25</h3>
                            <div class="d-flex justify-content-between small">
                                <span> 15 Lượt</span>
                                <span>01/01/1999</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <div class="img-wrap">
                            <button class="asText bookmark"><i class="fa fa-bookmark fa-lg"
                                    aria-hidden="true"></i></button>
                            <a href="ProductView.html"><img class="img-fluid mx-auto d-block"
                                    src="assets/images/Gearfit2.jpg" alt=""></a>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h4 class="card-title align-self-center ellipsis">
                                <a href="ProductView.html">Project One</a>
                            </h4>
                            <div class="d-flex justify-content-between">
                                <span>Mua ngay:</span>
                                <span>550$</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Giá hiện tại: </span>
                                <span class="font-weight-bold">100$</span>
                            </div>
                            <span class="d-flex justify-content-end">(masa23vn)</span>
                            <h3 class="mt-auto align-self-center">2d 12:37:25</h3>
                            <div class="d-flex justify-content-between small">
                                <span> 15 Lượt</span>
                                <span>01/01/1999</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <!-- Pagination -->
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>

        </div>


    </div>
</div>